<!-- views/layouts/main.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'Artesanías Sunset' %></title>
  
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  
  <% if (typeof pageCSS !== 'undefined') { %>
    <link rel="stylesheet" href="<%= pageCSS %>">
  <% } %>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <%- include('../partials/header', { 
      user: typeof user !== 'undefined' ? user : null, 
      isAdmin: typeof isAdmin !== 'undefined' ? isAdmin : false, 
      icons: typeof icons !== 'undefined' ? icons : {} 
  }) %>
  
  <%- body %>
  
  <%- include('../partials/footer', { 
      icons: typeof icons !== 'undefined' ? icons : {} 
  }) %>
  
  <script src="/js/header.js"></script>
  
  <% if (typeof pageJS !== 'undefined') { %>
    <% pageJS.forEach(js => { %>
      <script src="<%= js %>"></script>
    <% }); %>
  <% } %>
</body>
</html>